body
  +regular
  color: $text-color

img
  max-width: 100%

.bg-secondary
  background-color: #f1f1f1

.section
  padding: 100px 0
  &-title
    font-size: 30px
    text-align: center
    text-transform: uppercase
    +bold
  &__title
    margin-bottom: 100px

.button-o
  background-color: inherit
  border: 2px solid $primary
  padding: 17px 22px
  font-size: 12px
  text-transform: uppercase
  color: $primary
  text-decoration: none
  +bold

.button
  border: none
  text-transform: uppercase
  padding: 25px 45px
  background-color: $primary
  color: #ffffff
  text-decoration: none
  +bold
  &:hover
    cursor: pointer
  &-fitting
    color: $primary
    background-color: #ffffff
  &-add
    background-color: lighten($primary, 10%)
    color: #ffffff
  &-like
    background-color: $primary
    width: 30px
    height: 30px
    border: none



.input
  height: 80px
  padding-left: 30px
  border: 1px solid #dddddd

.checkbox
  display: none
  &:checked + label::before
    background-color: $primary

.checkbox__label
  display: flex
  align-items: center
  margin-right: 40px
  &:hover
    cursor: pointer
  &::before
    content: ''
    margin-right: 20px
    width: 30px
    height: 30px
    border: 1px solid #dddddd


@media (max-width: 576px)
  .button
    font-size: 10px
    &-o
      font-size: 10px
  
  .section
    padding: 60px 0
    &-title
      font-size: 24px
      