.offer
  padding: 129px 0
  &__block
    padding: 80px
    margin-top: -200px
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1)
    &--price
      background: #ffffff url('../img/offer/form-bg-offer-price.jpg') no-repeat center right
      background-size: contain
    &--calc
      background: #ffffff url('../img/offer/form-bg-offer-calc.jpg') no-repeat center right
      background-size: contain
  &__title
    font-size: 25px
    text-transform: uppercase
    margin-bottom: 20px
    +bold
  &__subtitle
    display: block
    max-width: 820px
    font-size: 21px
    margin-bottom: 48px

.form
  &__row
    display: flex
    align-items: center
    max-width: 900px
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
  &__label
    display: block
    font-size: 17px
    margin-bottom: 15px
  &__group
    flex-basis: 33.33%
  &__input
    width: 100%
    border-right: 0

  &__button
    height: 80px
    width: 100%
  &__policy
    display: inline-block
    margin-left: 45px
    font-size: 17px

.form__group:last-child .form__input 
  border-right: 1px solid #dddddd




@media (max-width: 1199px)
  .offer
    &__block
      background-position: center right -120px

@media (max-width: 992px)
  .offer__subtitle
    max-width: 400px

@media (max-width: 992px)
  .offer__block
    background: none
    background-color: #ffffff
    padding: 40px

@media (max-width: 768px)
  .offer
    &__title
      font-size: 18px
    &__subtitle
      font-size: 16px
  .form
    &__row
      flex-direction: column
    &__group
      flex-basis: 100%
      width: 100%
    &__input
      margin-bottom: 20px
      border-right: 1px solid #dddddd
    &__policy
      margin-left: 0
      margin-top: 30px

  .form__row-checkbox
    flex-direction: row

@media (max-width: 400px)
  .form
    &__row-checkbox
      flex-direction: column
      align-items: flex-start
    &__checkbox
      margin-bottom: 20px